body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #000;
    height:430px;
    width: 460px;
    display: grid;
    grid-template-columns: 100px 270px 30px;
    grid-template-rows:100px 200px 53px 50px;
    gap: 9px;
}

.white1{
    border-bottom: 10px solid #000;
    background-color: #F0F1EC;

}
.red {
    background-color: #E72F24;;
    grid-area: 1 / 2 /3 /5;
}

.white2 {
    background-color: #F0F1EC;
}

.blue {
    background-color:#004592 ;
    grid-row: span 2;
}

.white3 {
    background-color: #F0F1EC;
    grid-column: span 2;
    grid-row: span 3;
}

.white4 {
    background-color: #F0F1EC;
}

.yellow {
    background-color: #F9D01E;
}
