body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 748px;
    height: 748;
    background-color: #000;
    display: grid;
    grid-template-columns:320px 198px 153px 50px ;
    grid-template-rows: 414px 130px 155px 22px;
    gap: 9px;
}   

.item {
    background-color: #F0F1EC;
}

.red {
    background-color: #E72F24;
}

.white1{
    grid-column: span 3;
}

.white2 {
grid-row: span 2;
}

.white3 {
    grid-row:span 2;
    grid-column: span 2; 
}

.blue {
    background-color: #004592;
    border-bottom: 10px solid #000;
}

.white4 {
    grid-row: span 2;
}

.yellow {
   background-color: #F9D01E;
}

.black {
   background-color: #232629;;
}

@media (max-width: 790px) and (min-width: 650px) {
    .container {
        grid-template-columns: 160px 99px 76.5px 25px; 
        grid-template-rows: 207px 65px 77.5px 11px; 
        margin:200px;
    }
}


@media (max-width: 650px) {
    .container {
        grid-template-columns: 160px 99px 76.5px 25px; 
        grid-template-rows: 207px 65px 77.5px 11px; 
        margin: 130px;
    }
}